<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ChineseHandleWritting.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AD332A7D1E81342100E79A7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AD332A911E81342100E79A7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AD332A9C1E81342100E79A7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
